@model DomainModel.GuestBookModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminMaster.cshtml";
}
<div>

    @using (Html.BeginForm(MVC.Admin.Entity.ActionNames.Save, MVC.Admin.Entity.Name, new { area = "" }))
    {
        @Html.HiddenFor(m => m.GuestBookId)
    
        @Html.Partial(MVC.Admin.Shared.Views.SaveAndAdd, Model)
        
        <div>
            <input type="submit" value="добавить" />
            @Html.ActionLink("назад", MVC.Admin.Entity.Index())
        </div>
    }

</div>